.archive-wrapper {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  column-fill: balance;
  column-count: 2;
}
.archive-text {
  color: var(--font-color);
  letter-spacing: 0.2px;
  margin: auto;
  font-weight: 500;
}
