.form-container {
  align-items: center;
  box-shadow: var(--box-shadow);

  color: var(--font-color);
  background-color: var(--dark-bg);
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}
.login-heading {
  text-align: center;
  margin-top: 1rem;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  column-gap: 4rem;
}
.input-container {
  justify-items: start;
  align-items: flex-start;
  gap: 1rem;
}
.sample-input-email,
.sample-input-pwd {
  background-color: var(--primary-color);
  color: var(--font-color);
}
.sample-input-email:focus,
.sample-input-pwd:focus {
  box-shadow: 0 0 5px var(--border-color) inset;
}
.btn-outline {
  width: 100%;
  color: var(--font-color);
  text-transform: capitalize;
  border: 2px solid var(--add-btn-color);
}
.btn-outline:hover {
  background-color: var(--add-btn-color);
  color: var(--font-color);
}
.btn-solid {
  width: 100%;
  text-transform: capitalize;
  background-color: var(--add-btn-color) !important;
}

.login-link,
.sign-up {
  margin-bottom: 2rem;
  align-items: center;
}
.flex-align-item-center {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
