.side-nav {
  grid-column: 1 / span 1;
  grid-row: 2/-1;
  background-color: var(--primary-color);
  padding-right: 5px;
  /* justify-content: space-between; */
  min-height: 100vh;
  box-shadow: var(--box-shadow);
}
.toggle-width {
  width: 6rem;
}
.expanded-menu {
  width: 16rem;
}
.nav-icon-container {
  color: var(--light-secondary-color);
  align-items: center;
  margin: 1rem 1rem 1rem 0rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 6px;
  padding-left: 10px;
  width: 100%;
}

.toggled-expanded-menu {
  flex-direction: column;
  gap: 0.5rem;
}
.toggled-closed-menu {
  flex-direction: row;
  gap: 2rem;
}
.nav-icon-container:hover {
  color: var(--font-color);
}

.nav-pill {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.nav-pill:hover {
  background-color: var(--hover-color);
}
.side-nav-icon {
  font-size: 2.2rem;
  cursor: pointer;
}
.side-nav-icon:hover {
  color: var(--font-color);
}
.logout-container {
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  align-self: flex-start;
  color: var(--light-secondary-color);
  margin-left: 1.1rem;
  width: max-content;
  margin-top: 6rem;
}

.user-name {
  font-size: 1.5rem;
  padding: 4px;
  cursor: pointer;
  text-transform: capitalize;
}
.user-name:hover {
  color: var(--font-color);
}

.logout-icon {
  font-size: 2rem;
}
.logout {
  cursor: pointer;
}
