.notes-field-wrapper {
  max-width: 30rem;
  padding: 10px;
  position: relative;
  margin: auto;
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.title-container {
  width: 100%;
  align-items: center;
  color: var(--font-color);
}
.title-container span {
  font-size: 2rem;
  cursor: pointer;
  color: var(--light-secondary-color);
}
.title-container span:hover {
  color: var(--font-color);
}
.notes-field-title {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 4px;
  font-weight: 500;
  color: var(--font-color);
  resize: none;
}

.notes-body {
  outline: none;
  border: none;
  margin: 0;
  padding: 4px;
  background-color: transparent;
  height: max-content;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--font-color);
  resize: none;
}
.notes-action {
  justify-content: space-between;
  width: 100%;
  color: var(--light-secondary-color);
}

.add-note-btn {
  outline: none;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 2px 3px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: -10px;
  bottom: -1.2rem;
  border-radius: 50%;
  background-color: var(--add-btn-color);
}
.notes-action-btn-wrapper {
  width: 100%;
  align-items: center;
  gap: 9px;
}
.notes-action-btn-wrapper span {
  font-size: 2rem;
  margin-right: 10px;
  cursor: pointer;
}
.notes-action-btn-wrapper span:hover {
  color: var(--font-color);
}
.color-palette {
  position: absolute;
  left: 1rem;
  bottom: -3.4rem;
  background-color: var(--primary-color);
  padding: 5px;
  display: inline-flex;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
