.navigation-bar {
  border-radius: 0;
  border: 0;
  height: max-content;
  background-color: var(--primary-color);
  color: var(--font-color);
  grid-column: 1/-1;
  grid-row: 1 / span 1;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}
.hamberger-icon {
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--light-secondary-color);
}
.hamberger-icon:hover {
  background-color: var(--nav-icon-hover);
  border-radius: 50%;
  color: var(--font-color);
}
.brand-name {
  color: var(--light-secondary-color);
}
.brand-name:hover {
  color: var(--font-color);
}
.nav-left-wrapper {
  align-items: center;
}
.hide-content {
  display: none;
}
@media only screen and (max-width: 650px) {
  /* .hide-content {
    display: flex;
  } */
}
