.note-card {
  width: 35rem;
  min-height: 11rem;
  background-color: var(--white);
  border-radius: 10px;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.notecard-icons span {
  font-size: 2rem;
  padding: 4px;
  cursor: pointer;
}
.notecard-icons {
  justify-content: end;
}
.notecard-header {
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-inline: 10px;
}
.notecard-header h2 {
  padding: 0;
  margin: 0;
}
.notecard-header span {
  cursor: pointer;
}
.notecard-body {
  padding: 10px;
  margin: 1rem;
}
