.card-outer-container {
  max-width: 30rem;
  margin: 10px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--font-color);
}
.card-inner-container {
  justify-content: center;
  gap: 1rem;
}
.card-title h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 550;
}
.card-description {
  letter-spacing: 1px;
  font-weight: 500;
}
.card-btns {
  justify-content: end;
  gap: 10px;
}
.card-btns span {
  cursor: pointer;
  color: var(--light-secondary-color);
}
.card-btns span:hover {
  color: var(--font-color);
}
